<?xml version="1.0" encoding="utf-8" ?>

<configuration>

  <appSettings>
    <add key="statusCode" value="999" />
    <add key="LogFile" value="C:\Temp\IISADMPWD.log" />
    <add key="Tracing" value="true" />
  </appSettings>

  <system.web>
    <httpModules>
      <add name="IISADMPWD"
           type="IISADMPWD.IISADMPWDHttpModule,
                 IISADMPWD,
                 Version=0.3.0.0,
                 Culture=neutral,
                 PublicKeyToken=3d97bdd50eb03a1f" />
    </httpModules>
  </system.web>

  <system.webServer>
    <security>
      <authentication>
        <windowsAuthentication>
        </windowsAuthentication>
      </authentication>
    </security>
    <httpErrors>
      <error statusCode="999"  subStatusCode="1" path="http://www.Accountdisbaled.ch" responseMode="Redirect" />
      <error statusCode="999"  subStatusCode="2" path="http://www.PasswordChangeRequired.ch" responseMode="Redirect" />
      <error statusCode="999"  subStatusCode="3" path="http://www.AccountLocked.ch" responseMode="Redirect" />
      <error statusCode="999"  subStatusCode="4" path="http://www.PasswordExpired.ch" responseMode="Redirect" />
    </httpErrors>

  </system.webServer>


</configuration>