<?xml version="1.0" encoding="utf-8" ?>

<configuration>

  <appSettings>
    <add key="TechUserAD" value="Username" />
    <add key="TechpwdAD" value="PW" />
    <add key="PwdMustChangeRetCode" value="999" />
    <add key="LogFile" value="C:\Temp\httpmodule.log" />
    <add key="Tracing" value="true" />
  </appSettings>

  <system.web />

  <system.webServer>
    <modules>
      <add name="HttpModule" 
           type="HttpModule.IISADMPWDHttpModule,
                 HttpModule,
                 Version=0.2.0.0,
                 Culture=neutral,
                 PublicKeyToken=3d97bdd50eb03a1f" />
    </modules>
    
    <security>
      <authentication>
        <windowsAuthentication>
          <providers>
            <clear />
            <add value="NTLM" />
          </providers>
        </windowsAuthentication>
      </authentication>
    </security>
    <httpErrors>
      <error statusCode="999"  subStatusCode="1" path="http://www.Accountdisbaled.ch" responseMode="Redirect" />
      <error statusCode="999"  subStatusCode="2" path="http://www.PasswordChangeRequired.ch" responseMode="Redirect" />
      <error statusCode="999"  subStatusCode="3" path="http://www.AccountLocked.ch" responseMode="Redirect" />
      <error statusCode="999"  subStatusCode="4" path="http://www.PasswordExpired.ch" responseMode="Redirect" />
    </httpErrors>

  </system.webServer>


</configuration>